html {
    font-family: sans-serif;
    font-size: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-size: 1rem;
    margin: 0;
    font-family: "Helvetiica Neue" Arial, Helvetica, sans-serif;
    line-height: 1.42857143;
    color: #333;
    background-color: rgb(104, 166, 248);
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin:0px auto;
    background-color: rgba(100,65,0,.3);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
}

#contact {
    background-color: #5e76fc;
}

.submission {
    width: 60%;
    padding: 10px;
    border-radius: 0px;
    margin: 0px auto;
    background-color: rgba(100,65,0,.3);
    box-shadow: -1px -1px 1px 0 rgba(0,0,0,0.1), 1px 2px 10px 0 rgba(0,0,0,0.5);
}


.submission form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(227, 222, 222);
    box-shadow: 2px 3px 3px rgba(100,65,0,.3);
    font-family: 'Raleway', sans-serif;
}

.submission input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8d8e8f;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-bottom: 2px solid #424549;
    border-right: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 10px 1em;
    border-radius: 7px;
    background: #13161b;
    box-shadow: inset 0px 3px 0px 0px rgba(5,5,5,.15);
    font-family: 'Raleway', sans-serif;
}

.submission input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(100,65,0,.8);
}

.submit input[type="submit"]{
    color: rgb(227, 222, 222);
    cursor: pointer;
    border: none;
    font-weight: 900;
    outline: none;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: opx 3%;
    padding: 7px 0px;
    width: 25%;
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
    background-color: #797a7b;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.submit input[type="submit"]:hover {
    color: #000;
    background-color: #8d8e8f;
    box-shadow: inset 1px 2px 15px 0 rgba(0,0,0,0.5);
}