/*pizza Menu style*/
@font-face {
    font-family: 'digital-7';
    src: url('../../css/digital-7.ttf');
  }

#menuBG {
    font-family: 'digital-7', sans-serif;
    color: rgb(0, 200, 0);
    background-color: black;
    width: 600px;
    height: 470px;
    margin: 10px;
}

#formMenu {
    margin:0 auto;
    width: 400px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    margin-left: 30px;
    width: 150px;
    height: 200px;
    float: left;
}

.right {
    width: 150px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: left;
}

#cart {
    top:0; 
    margin: 0 auto;
    width: 400px;
    height: 200px;
}
#totalPrice {
    margin-top: 10px;
}
#btnOrder {
    padding: 5px;
    font-weight: bold;
    font-size: large;
    margin-left: 250px;
    font-family: 'digital-7', sans-serif;
    text-overflow: ellipsis;
    border-radius: 15px;
    background-color: black;
    color: rgb(0, 200, 0);
    width: 110px;
    height: 50px;
    box-shadow: inset 0 0 0 2px rgba(255,255,255,.5), inset 0 2px 0 0 rgba(255,255,255,.05), inset 0 -2px 0 0 rgba(255,255,255,.5), 0 2px 0 0 rgba(255,255,255,.5);
}

#btnOrder:hover {
    color: rgb(200, 0, 0);
}




h1 {
    text-align: center;
    font-weight: bold;
}